/*carousel {
  border-style: 1px solid black;
}*/

.text {
  text-align: center;
}

h1 {
  text-align: center;
  text-decoration: underline;
  font-family: cursive;
}

p {
  text-align: center;
  font-family: fantasy;
}
